<div data-sticky-header class="group sticky *:block transition-transform duration-300 ease-out top-0 data-[state=initial]:translate-y-0 data-[state=hide]:translate-y-[calc(-1*var(--header-height))] data-[state=reveal]:duration-150">
	<sticky-header>
		<header class="bg-white">
			<div class="container mx-auto py-5">
				<div class="flex items-center flex-wrap">
					<div class="flex-none">
						<a href="#" class="block text-black">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 134 62" fill="none" class="logo" width="134">
								<title>Black Magic Logo</title>
								<path d="M27.6198 27.5549H47.9672V20.1897L43.7218 24.2987H38.2891V4.71793L41.77 1.34895H27.6198L31.0991 4.71793V24.1874L27.6198 27.5564V27.5549ZM57.8092 24.223L59.0716 20.7073H67.1027L68.1353 24.223L64.6928 27.5549H79.9905L76.4728 24.1504L67.8687 1.34895H62.6674L54.2533 24.1489L50.7356 27.5535H61.2517L57.8092 24.2216V24.223ZM63.4303 8.82536L66.1069 17.4495H60.2942L63.4303 8.82536ZM105.99 27.5549H119.769L116.38 24.1874V13.9708L123.345 24.2601V27.5549H133.809L122.749 11.1578L132.619 1.34895H122.004L125.133 4.45844L116.382 13.1567V4.71793L119.771 1.34895H105.991L109.38 4.71793V24.1874L105.991 27.5549H105.99ZM111.341 47.625C111.341 55.2497 117.767 61.2833 125.069 61.2833C128.5 61.2833 130.736 60.9497 133.807 59.3586V51.6968L128.739 56.3974C127.583 57.471 126.665 58.0256 125.069 58.0256C120.719 58.0256 119.841 54.0649 119.841 47.625C119.841 41.1851 120.719 37.2245 125.069 37.2245C126.665 37.2245 127.583 37.779 128.739 38.8526L133.807 43.5532V35.8914C130.734 34.3374 128.5 33.9667 125.069 33.9667C117.367 33.9667 111.341 40.0003 111.341 47.625ZM52.6476 34.5228H47.4463L39.0322 57.3227L35.5145 60.7273H46.0306L42.5881 57.3954L43.8505 53.8796H51.8816L52.9142 57.3954L49.4717 60.7273H64.7694L61.2517 57.3227L52.6476 34.5228ZM45.0762 50.6233L48.2123 41.9992L50.8888 50.6233H45.0762ZM102.372 18.5245L97.3044 23.2251C96.1477 24.2987 95.2299 24.8532 93.6335 24.8532C89.284 24.8532 88.4061 20.8926 88.4061 14.4527C88.4061 8.01277 89.284 4.05214 93.6335 4.05214C95.2299 4.05214 96.1477 4.60672 97.3044 5.68029L102.372 10.3808V2.71908C99.2991 1.16508 97.0654 0.794373 93.6335 0.794373C85.9318 0.794373 79.9062 6.82799 79.9062 14.4527C79.9062 22.0774 86.3317 28.111 93.6335 28.111C97.0654 28.111 99.3007 27.7774 102.372 26.1863V18.5245ZM81.5823 49.3658V57.25C80.8944 57.6578 80.205 58.027 79.2489 58.027C73.2831 58.027 72.5186 52.4753 72.5186 47.6265C72.5186 42.7776 74.0476 37.2259 79.2489 37.2259C80.7779 37.2259 81.6589 37.7805 82.7666 38.8541L87.6232 43.5546V35.8558C84.6786 34.413 82.5368 33.9682 79.2474 33.9682C71.9042 33.9682 64.371 39.4828 64.371 47.6265C64.371 55.7702 71.9042 61.2848 79.2474 61.2848C83.1481 61.2848 85.4048 60.7302 88.7692 59.3972V49.3658L92.2501 45.9983H78.0999L81.5792 49.3658H81.5823ZM33.6914 34.5228H23.7099L17.476 45.2569L11.242 34.5228H0.419434L3.90029 37.8917V57.3612L0.419434 60.7287H11.1271L7.6462 57.3598V41.8509L15.3326 55.2868L23.019 41.888V57.3598L19.5381 60.7287H33.6883L30.2074 57.3598V37.8903L33.6883 34.5213L33.6914 34.5228ZM108.57 34.5228H94.4195L97.9003 37.8917V57.3612L94.4195 60.7302H108.57L105.089 57.3612V37.8903L108.57 34.5213V34.5228ZM0.419434 27.5549H13.9951C18.9284 27.5549 24.8559 25.8897 24.8559 20.3736C24.8559 16.8208 21.6432 14.2288 18.1638 13.6371C21.0702 12.786 23.5184 10.6018 23.5184 7.78887C23.5184 3.16393 18.4703 1.34895 13.0391 1.34895H0.419434L3.90029 4.71793V24.1874L0.419434 27.5549ZM11.0888 4.60672H12.8476C14.8362 4.60672 16.1369 5.82857 16.1369 8.56735C16.1369 11.3061 14.9128 12.528 12.8476 12.528H11.0888V4.60672ZM11.0888 15.7843H13.8036C15.8305 15.7843 17.4744 16.932 17.4744 20.0415C17.4744 23.151 15.2943 24.2987 13.8036 24.2987H11.0888V15.7858V15.7843Z" fill="currentColor"></path>
							</svg>
						</a>
					</div>
					<div class="flex-1 flex justify-end">
						<nav>
							<ul class="flex items-center gap-10">
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">Research</a>
								</li>
								<li>
									<a href="#">News</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
	</sticky-header>
</div>
